.prizes {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background-blend-mode: overlay;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2em;
    color: #fff;
}

.prizes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .prizes-container {
        flex-direction: column;
    }
}

.prize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    min-width: 150px;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .prize-image {
        width: 90%;
        height: auto;
        object-fit: contain;
        transition: transform 0.3s ease;
        &:hover {
            transform: rotate(10deg);
        }
    }

    h2 {
        margin-top: 10px;
        font-size: 1.5em;
    }

    p {
        text-align: center;
        margin-top: 5px;
    }
}
