$bg-color: #000000;
$bg-secondary: #161617;
$bg-ternary: #666666;
$bg-accent: #979797;
$text-color: #ffffff;
$text-secondary: #abb1b4;
$text-accent: #0088cc;

$blue-grad-start: #00c6ff;
$blue-grad-end: #0072ff;