.app-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  background: #000; // Replace with the background image or color gradient as per the design
  font-family: 'IBM Plex Mono', sans-serif; // Replace with your font

  .header {
    flex: 0 0 auto;
    // Add styles for the header
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1em;

    .logo {
      width: 50px; // Adjust as needed
      height: 50px; // Adjust as needed
      margin-right: 1em; // Add some spacing

      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // This will make sure the logo maintains its aspect ratio
      }
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      gap: 2em;
      list-style-type: none;

      li a {
        color: white;
        text-decoration: none;
        font-size: 1em;
        position: relative;
        transition: color 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background: #aaa; // Change as needed
          transition: width 0.3s ease;
        }

        &:hover {
          color: #777; // Change as needed

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em 60px;
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    background-blend-mode: overlay;

    .text-buttons {
      text-align: left;
      h1 {
        font-family: 'IBM Plex Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        font-size: 5rem;
      }
    }

    .hero-image {
      width: 500px; // Adjust as needed
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // This will make sure the image maintains its aspect ratio
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      }
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }

    .buttons {
      display: flex;
      gap: 1em;

      button {
        border: none;
        padding: 0.75em 1.5em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #222; // Change as needed
        }
      }

      .register-btn {
        background: #0044cc; // Replace with the actual color code
        color: white;
        font-family: 'IBM Plex Mono', sans-serif; // Replace with your font

      }

      .learn-more-btn {
        background: transparent;
        border: 1px solid #fff;
        color: white;
        font-family: 'IBM Plex Mono', sans-serif; // Replace with your font

      }
    }
  }
}

